:root {
  --clr1: rgb(93, 91, 107);
  --clr2: rgb(120, 99, 99);

  --clr1bg: rgb(152, 149, 166);
  --clr1bg-light: rgb(200, 200, 221);
  --clr2bg: rgb(233, 206, 206);
  --clr2bg-light: rgb(247, 185, 185);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
} 